.homepagebanner {
    height: 73vh;
    width: 100%;
}
.aboutusimage{
    max-height:400px ;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}


@media screen and (max-width:768px) {
    .homepagebanner{
        height: 37vh;
        width: auto;
    }
}
